name: ai_beast
services:
  example_hello:
    command:
      - sh
      - -lc
      - while true; do echo '[example_segment] hello from extension'; sleep 60; done
    image: alpine:3.20
    labels:
      ai.beast.managed: "true"
      ai.beast.service_hash: 76a2149b57012a322b25f9fcf76bf0dfa2bf6223c2bc71f3d665dac716a54d49
      ai.beast.tier: optional
    networks:
      default: null
    restart: unless-stopped
  jupyterlab:
    container_name: ai_beast_jupyterlab
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      JUPYTER_TOKEN: ai-beast
    image: jupyter/minimal-notebook:latest
    labels:
      ai.beast.managed: "true"
      ai.beast.service_hash: fd2c27fb1f7eb82f01622a2f723778a20b7ab4017832d87c459ed36038018c12
      ai.beast.tier: optional
    networks:
      default: null
    ports:
      - mode: ingress
        host_ip: 127.0.0.1
        target: 8888
        published: "8889"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /Volumes/Sunwolf/_LLMS/data/notebooks
        target: /home/jovyan/work
        bind:
          create_host_path: true
networks:
  default:
    name: ai_beast_default
